@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Fonts
$font: "Open Sans", sans-serif;

// Colors
$dark: rgb(31, 31, 31);
$light: rgb(243, 243, 243);
$sky: rgb(40, 201, 255);
$orange: rgb(255, 162, 23);
