@import "../../vars/vars.scss";

body {
  background: url(../../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wg__home {
  display: flex;
  justify-content: center;
}

.wg__home-main {
  display: flex;
  flex-direction: column;
  background-color: $light;
  height: 600px;
  width: 60%;
  margin-top: 5rem;
  background-color: $light;
}

.wg__home-main_menu {
  display: flex;
  align-items: flex-start;
  button {
    width: 25%;
    height: 50px;
    background-color: $light;
    border: none;
    border-bottom: 7px solid $orange;
    font-family: $font;
    font-size: 18px;
    font-weight: 400;
    color: $light;
    background-color: $dark;
    margin-right: 2px;
  }
  
  button:first-child {
    width: 50%;
  }

  button:last-child {
    margin-right: 0;
  }

  button:hover {
    background-color: $orange;
  }

  button:focus {
    height: 70px;
    background-color: $orange;
    border-color: $dark;
  }
}
